Port 22
PermitRootLogin no
PasswordAuthentication yes
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile /seed/ssh/authorized_keys
StrictModes no
MaxAuthTries 3
Subsystem sftp internal-sftp
